/config
/disabledmods
/downloads
/jarmods
/logs
/saves
/data
/crash-reports
.connector
.vscode
usercache.json
usernamecache.json
command_history.txt
/kubejs/config
kubejs/config/common.json
/options.txt
.cache
configureddefaults/README.md
.mixin.out
/shaderpacks/ComplementaryReimagined_r5.5.1.zip.txt
.physics_mod_cache
/cloth_local
patchouli_data.json
servers.dat_old
/debug
instance.json
.oauth-account-manager
Distant_Horizons_server_data