/config
/disabledmods
/downloads
/instance.json
/jarmods
/logs
/saves
/data
/crash-reports
.connector
.vscode
usercache.json
usernamecache.json
command_history.txt
/kubejs/config
kubejs/config/common.json
/options.txt
.cache
defaultconfigs
configureddefaults/README.md
